* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background:url("images/bg1.png");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur (10px);
}

.container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 10px 29px 5px #f3f3f833;
    /* background:url("images/bg.jpg"); */
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #eae8e5;
}

.chat {
    height: 500px;
    overflow-y: scroll;
    margin: 20px 0;
    padding: 10px;
    border-top: 2px solid rgb(92, 91, 89);
    border-radius: 5px;
    /* background:url("images/bg1.png"); */
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
}

.message {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.user {
    justify-content: flex-end;
}

.bot {
    
    justify-content: flex-start;
}

.avatar {
    background: url("images/logo.png");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.user .avatar {
    order: 2;
    background:url("images/user.png");
    background-size: cover;
}

.bot .avatar {
    background-size: cover;
}

.text {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}

.user .text {
    background: #222831;
}

.bot .text {
    background-color: antiquewhite;
    color: black;
}

.input {
    position: relative;
    width: 97%;
    padding: 10px;
    border: 2px solid #cbcbce;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.input:focus {
    border-color: aquamarine;
    color: #000000;
}

.button {
    position: absolute;
    width: 87px;
    border: none;
    padding: 1px;
    background: #0c0b0b;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: .01rem;
    margin-left: -4.0rem;
    outline: none;
    border-radius: 5%;
}

button i {
    font-size: 2.8rem;
    color:rgb(241, 255, 246);
    border-radius: 20px;
}
button i:hover{
    color:rgb(132, 123, 123) ;
}

.chat::-webkit-scrollbar {
    width: 10px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}
